{% extends 'base.html' %}

{% block title %}Sad
{% endblock title %}

{% block body %}


<div class="alert alert-success">
    <h3 class="row featurette d-flex justify-content-center"> Sad</h3>

</div>

<div class="container text-center alert alert-secondary">
    <p>जो अपने हमसफर थे उनका साथ नही मिला.. <br> पीछे जो रह गए थे मेरे हमकदम हुए..</p>
    <p>हमने न रखी तेरे सिवा किसी से मोहब्बत की आस.. <br> एक तु ही बहुत है मुझे ज़िन्दगी भर तडपाने के लिये... </p>
    <p>आज टूटा एक तारा देखा, बिलकुल मेरे जैसा था। <br> चाँद को कोई फर्क नहीं पड़ा, बिलकुल तेरे जैसा था</p>
    <p>मासूमियत तो चेहरे से #झलकती है सभी की, <br> दिल में फरेब कितना वह #वक़्त आने पे पता लगता है</p>
    <p>प्यार तो हमने उनकी सादगी से किया था <br> वरना हुस्न के गुलाम तो हम आज तक नहीं बने😏😏</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>



<div class="container d-flex justify-content-center">
    <nav aria-label="Hindi Shayeri">
        <ul class="pagination">
            <li class="page-item "><a class="page-link" href="/page3">Previous</a></li>
            <li class="page-item "><a class="page-link" href="/sad">1</a></li>
            <li class="page-item "><a class="page-link" href="/page2">2</a></li>
            <li class="page-item "><a class="page-link" href="/page3">3</a></li>
            <li class="page-item active"><a class="page-link" href="/page4">4</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>



{% endblock body %}