
{% extends 'base.html' %}

{% block title %}Sad
{% endblock title %}

{% block body %}


    <div class="alert alert-success">
        <h3 class="row featurette d-flex justify-content-center"> Sad</h3>

    </div>

    <div class="container text-center alert alert-secondary">
        <p>हुस्न के जाने कितने चेहरे हुस्न के जाने कितने नाम <br> इश्क़ का पैशा हुस्न परस्ती इश्क़ बड़ा हरजाई है</p>
        <p>कभी अपनी सी कभी ग़ैर नज़र आई है <br>कभी इख़्लास की मूरत कभी हरजाई है</p>
        <p>इक मोहब्बत की ये तस्वीर है, दो रंगों में <br>शौक़ सब मेरा है, और सारी हया उस की है…</p>
        <p>बंजर नहीं हूँ मैं मुझमें बहुत सी नमी है <br> दर्द बयां नहीं करती बस इतनी सी कमी है</p>
        <p>मर्द की ऊँची आवाज़ औरत को चुप करा देती हैं <br> लेकिन औरत की ख़ामोशी मर्द की बुनियाद हिला देती हैं</p>
        <p>लोग दीवाने हैं बनावट के <br> हम कहा जाएँ सादगी लेकर </p>
        <p>औरत के जिस्म से निकलकर औरत के पेट में पलकर <br> औरत की जवानी खाकर मर्द कहता हैं ये औरत ही ख़राब चीज हैं </p>
        <p>माना की तुझसे दूरियां कुछ ज्यादा ही बढ़ गई हैं <br> पर तेरे हिस्से का वक़्त आज भी तनहा गुजरता है </p>
        <p>तुझे हक़ है अपनी दुनिया में खुश रहने का। <br> मेरा क्या❓ मेरी तो दुनिया ही तुम हो।। </p>
        <p>क़ैदी हूँ पर मुल्जिम नहीं <br> मुझ पर मुहब्बत का इल्जाम है।</p>
    </div>



    <div class="container d-flex justify-content-center">
        <nav aria-label="Hindi Shayeri">
            <ul class="pagination">
                <li class="page-item "><a class="page-link" href="/sad">Previous</a></li>
                <li class="page-item "><a class="page-link" href="/sad">1</a></li>
                <li class="page-item active"><a class="page-link" href="/page2">2</a></li>
                <li class="page-item"><a class="page-link" href="/page3">3</a></li>
                <li class="page-item"><a class="page-link" href="/page4">4</a></li>
                <li class="page-item"><a class="page-link" href="/page3">Next</a></li>
            </ul>
        </nav>
    </div>


{% endblock body %}