{% extends 'base.html' %}

{% block title %}Sad
{% endblock title %}

{% block body %}

            <div class="alert alert-success">
                <h3 class="row featurette d-flex justify-content-center"> Sad</h3>
        
            </div>

            <div class="container text-center alert alert-secondary">
                <p>किसी को मेरे बारे में… पता कुछ भी नही, <br>  इल्जाम हजारो है और खता कुछ भी नही।</p>
                <p>अल्फ़ाज़ चुराने की ज़रूरत ही ना पड़ी कभी, <br> तेरे बेहिसाब ख्यालों ने बेतहाशा लफ्ज़ दिए मुझको</p>
                <p>धोखा देने के लिए शुक्रिया <br> तुम ना मिलते तो दुनिया समझ में ना आती!</p>
                <p>तकलीफ ये नही की किस्मत ने मुझे धोखा दिया, <br> मेरा यकीन तुम पर था किस्मत पर नही.</p>
                <p>बड़ी अजीब सी मोहब्बत थी तुम्हारी पहले पागल किया <br> फिर पागल कहा..फिर पागल समझ कर छोड़ दिया</p>
                <p>इस मोहब्बत की किताब के दो ही सबक याद हुये, <br>  कुछ तुम जैसे आबाद हुये, कुछ हम जैसे बर्बाद हुये...</p>
                <p>मेरे मुकद्दर में तो तेरी याद है लेकिन , <br>  तू जिसके मुकद्दर में है उसे दिल से सलाम</p>
                <p>मौत से तो दुनिया मरती हैं, <br> आशिक तो बस प्यार से ही मर जाता हैं</p>
                <p>मैंने इंसान की वफ़ा पर यकींन करना छोड़ दिया है , <br> जब किस्मत बदल सकती है तो ये मिट्टी के इंसान क्यों नहीं </p>
                <p>महज आज भी उतनी ही खूबसूरत दिखती हो साड़ी में <br> ये बात और है, अब हमें निहारने की इजाजत नहीं </p>
            </div>
        
        
        
            <div class="container d-flex justify-content-center">
                <nav aria-label="Hindi Shayeri">
                    <ul class="pagination">
                        <li class="page-item "><a class="page-link" href="/page2">Previous</a></li>
                        <li class="page-item "><a class="page-link" href="/sad">1</a></li>
                        <li class="page-item "><a class="page-link" href="/page2">2</a></li>
                        <li class="page-item active"><a class="page-link" href="/page3">3</a></li>
                        <li class="page-item"><a class="page-link" href="/page4">4</a></li>
                        <li class="page-item"><a class="page-link" href="/page4">Next</a></li>
                    </ul>
                </nav>
            </div>


{% endblock body %}