{% extends 'base.html' %}

{% block title %}Sad
{% endblock title %}

{% block body %}

    
  <div class="alert alert-success">
    <h3 class="row featurette d-flex justify-content-center"> Sad</h3>

  </div>




  <div class="container text-center alert alert-secondary  ">
    <p>अगर तेरे साथ जीने का हक़ नहीं तो <br> अपनी बाहो में मरने की इजाजत दे दे </p>
    <p> हम तो पागल हैं जो शायरी में दिल की बात कह देते हैं <br> लोग तो गीता पर हाथ रख कर भी सच नहीं बोल पते </p>
    <p>कोई इशारा दिलासा न कोई वादा मगर<br> जब आयी शाम तेरा इंतजार करने लगे</p>
    <p>या रब मुझे महफ़ूज़ रख उस बुत के सितम से<br> मैं उस की इनायत का तलबगार नहीं हूँ</p>
    <p>तेरी इब्तिदा भी आँसू.. तेरी इन्तिहा भी आहें… <br> तू ही बता मुहब्बत.. तुझे किस बिना पे चाहें…???</p>
    <p>बहुत नाज़ था मुझे अपने चाहने वालों पे <br> मैं अज़ीज़ था सबको मगर ज़ुरुरतों के लिए…</p>
    <p>जो इश्क़ अधूरा रह जाए तो खुद पे नाज़ करना,<br> कहते हैं सच्ची मोहब्बत कभी मुकम्मल नहीं होती</p>
    <p>मेरी बंदगी में ही कुछ कमी है ए ख़ुदा, <br> वरना तेरा दर तो रहमतो का खजाना है…</p>
    <p>कोई तलबगार हुस्न का है, कोई पुजारी हवस का, <br> इश्क बदनाम हो गया इन्सान के हाथो में आकर..</p>
    <p>हुस्न के जाने कितने चेहरे हुस्न के जाने कितने नाम <br>इश्क़ का पैशा हुस्न परस्ती इश्क़ बड़ा हरजाई है</p>
  </div>


  <div class="container d-flex justify-content-center">
    <nav aria-label="Hindi Shayeri">
      <ul class="pagination paging-navigation">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="/page2">2</a></li>
        <li class="page-item"><a class="page-link" href="/page3">3</a></li>
        <li class="page-item"><a class="page-link" href="/page4">4</a></li>
        <li class="page-item"><a class="page-link" href="/page2">Next</a></li>
      </ul>
    </nav>
  </div>

{% endblock body %}