{% extends 'base.html' %}

{% block title %}Romantic
{% endblock title %}

{% block body %}

    <div class="alert alert-success">
        <h3 class="row featurette d-flex justify-content-center"> Urdu</h3>

    </div>




    <div class="container text-center alert alert-secondary  ">
        <p>ख़यालात अगर पाकीज़ा हो <br> तो मोहोब्बत गुन्हा नहीं होती </p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>


    <div class="container d-flex justify-content-center">
        <nav aria-label="Hindi Shayeri">
            <ul class="pagination paging-navigation">
                <li class="page-item "><a class="page-link" href="/urdu">Previous</a></li>
                <li class="page-item "><a class="page-link" href="/urdu">1</a></li>
                <li class="page-item active"><a class="page-link" href="page2.html">2</a></li>
                <li class="page-item"><a class="page-link" href="page3.html">3</a></li>
                <li class="page-item"><a class="page-link" href="page2.html">Next</a></li>
            </ul>
        </nav>
    </div>

{% endblock body %}
