{% extends 'base.html' %}

{% block title %}Romantic
{% endblock title %}

{% block body %}
<div class="alert alert-success">
    <h3 class="row featurette d-flex justify-content-center"> Urdu</h3>

  </div>




  <div class="container text-center alert alert-secondary  ">
    <p>मोहब्बत तुमसे झूठी नहीं  थी <br> गवाह हर नमाज़ की दुआ है </p>
    <p>खुदा ने मेरी दुआ कुछ यूँ क़बूल की <br> तुझे भेजा मेरे पास क़बूल हैं कहने के वास्ते </p>
    <p>मेरी मोहब्बत सिर्फ उसकी अमानत है <br> जिसे मेरे अल्लाह ने मेरे लिए हालाल किया है </p>
    <p>बिना जुर्म किये गुनहगार हो गया <br> खता बस इतनी हुई के मुझे प्यार हो गया </p>
    <p>गुनाहों के सजावार है हम सब जानते, <br> पर गुनाहगार में शामिल नहीं बस तुम हो जानते </p>
    <p>सवाल नहीं आता अब तेरी मोहब्बत का <br> तूने एक ही मुलाकात में दिल हलाल कर दिया </p>
    <p>तेरी आँखों से गिरे हर आँसूं का कसूरवार हूँ मैं <br>तुझसे बेइंतेहा मोहब्बत करने का गुनाहगार हूँ मैं </p>
    <p>मुमकिन नहीं की हर एक की नजर में खुद को बेगुनाह साबित करू <br> एक गुजारिश बस तू कभी गुनाहगार ना समझना 
        </p>
    <p>सुच और ईमान का तरफ़दार हूँ <br> इसलिए कल भी गुनहगार था और आज भी गुनहगार  हूँ </p>
  </div>


  <div class="container d-flex justify-content-center">
    <nav aria-label="Hindi Shayeri">
      <ul class="pagination paging-navigation">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="/urdu_pg2">2</a></li>
        <li class="page-item"><a class="page-link" href="/urdu_pg3">3</a></li>
        <li class="page-item"><a class="page-link" href="/urdu_pg2">Next</a></li>
      </ul>
    </nav>
  </div>

{% endblock body %}
