{% extends 'base.html' %}

{% block title %}Romantic
{% endblock title %}

{% block body %}


    <div class="alert alert-success">
        <h3 class="row featurette d-flex justify-content-center"> Romantic</h3>

    </div>

    <div class="continer text-center alert alert-secondary">
        <p>हज़ारो मैं मुझे सिर्फ़ एक वो शख्स चाहिये ,, <br> जो मेरी ग़ैर मौजूदगी मैं, मेरी बुराई ना सुन सके !!</p>
        <p>स्त्री सुन्दर हैं इसलिए प्रेम हुआ तो वो वासना हुई... <br> स्त्री से प्रेम हुआ फिर वो सुन्दर हुई तो वो यक़ीनन
            प्रेम हुआ </p>
        <p>मिलावट हैं तेरे इश्क़ में इतर और शराब की, <br> कभी हम महक जाते हैं कभी हम बहक जाते हैं</p>
        <p>मीरा का प्रेम उपासना था तो कृष्ण को आराध्य बना दिया <br> रुक्मणी का प्रेम दामपत्य का था तो कृष्ण को पति बना
            दिया <br> पर राधा का प्रेम उन्मुक्त्त था जिसने कृष्ण को कृष्ण ही रहने दिया
        </p>
        <p> मेरा सुकून है ईश्क ..... मेरा जनून है इश्क , <br> कभी तो ये राधा सा है ,कभी मीरा सा है इश्क।।</p>
        <p>मर्द की दी गयी इज़्ज़त ही मोहब्बत होती है </p>
        <p>मोहब्बत इबादत बन जाए इतना भी आसान नहीं <br> बहुत कठिन हैं राधा का मीरा हो जाना </p>
        <p>मुझे आशिक़ नहीं शायर नहीं मजबूर बनना है <br> मुझे तो बस तेरी उस मांग का सिन्दूर बनना है </p>
        <p>उसने कहा, सिंदूर से बाँध लेना मुझे <br> मै तुम्हारी मोहब्बत का सुर्ख वादा हूँ </p>
        <p>हमारी गैरमौजूदगी में भी, वो अपना फ़र्ज़ निभाती हैं हम रहे या ना रहे , <br> वो हर रोज हमारे नाम का सिन्दूर अपने
            मांग में लगाती है </p>
    </div>



    <div class="container d-flex justify-content-center">
        <nav aria-label="Hindi Shayeri">
            <ul class="pagination">
                <li class="page-item "><a class="page-link" href="/romantic">Previous</a></li>
                <li class="page-item "><a class="page-link" href="/romantic">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="/rom_pg3">3</a></li>
                <li class="page-item "><a class="page-link" href="/rom_pg4">4</a></li>
                <li class="page-item"><a class="page-link" href="/rom_pg3">Next</a></li>
            </ul>
        </nav>
    </div>





{% endblock body %}