{% extends 'base.html' %}

{% block title %}Romantic
{% endblock title %}

{% block body %}

    <div class="alert alert-success">
        <h3 class="row featurette d-flex justify-content-center"> Romantic</h3>

    </div>

    <div class="container text-center alert alert-secondary">
        <p>दुल्हन बनू मैं तेरे इश्क़ की,<br> सिन्दूर वफ़ा का तू लगा देना </p>
        <p>बात सिर्फ जिश्म की नहीं थी उसके रूह का कतरा - कतरा अब उनका हो चूका हैं! <br> तो सिन्दूर किसी और की नाम से कैसे सजती वो?? </p>
        <p>मैं खुश तो बहुत रहूंगी उस दिन जब तू मुझसे बिलकुल दूर नहीं होगा <br> और मेरी मांग में तेरे नाम का सिंदूर रहेगा                           </p>
        <p>लाज शर्म की टूटे धागे तेरी मनमानी की आगे <br> ऐसी रंगी तेरे रंग में दूजा कोई रंग ना लागे</p>
        <p>बेपर्दा तुझे देखु, वो हक़ अभी  नहीं हैं मुझे! <br> मुझे तो हया के दुपट्टे में ही कमाल लगती हो!</p>
        <p>तुझे गुस्सा दिलाना भी एक साजिश है। <br> तेरा रुठ कर मुझ पर यूँ हक जताना प्यार सा लगता है।। </p>
        <p>तुम्हारी फ़िक्र है मुझे शक नहीं। <br> तुम्हे कोई और देखे ये किसी को हक़ नहीं।। </p>
        <p>खता मत गिन इश्क़ में , किसने क्या गुनाह किया। <br> इश्क़ इक नशा  है , तूने भी किया और मैंने भी किया।।</p>
        <p>इश्क़ इनायत है  खुदा की। <br> तो मैं गुनाहगार कैसे?</p>
        <p>आशिक हूँ तेरा अब अपनी रजा बता दे। <br> गुनाह हैं गर ये तो सजा बता दे।।</p>

    </div>



    <div class="container d-flex justify-content-center">
        <nav aria-label="Hindi Shayeri">
            <ul class="pagination">
                <li class="page-item "><a class="page-link" href="/rom_pg4">Previous</a></li>
                <li class="page-item "><a class="page-link" href="/romantic">1</a></li>
                <li class="page-item "><a class="page-link" href="/rom_pg2">2</a></li>
                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                <li class="page-item "><a class="page-link" href="/rom_pg4">4</a></li>
                <li class="page-item"><a class="page-link" href="/rom_pg4">Next</a></li>
            </ul>
        </nav>
    </div>

{% endblock body %}