{% extends 'base.html' %}

{% block title %}Romantic
{% endblock title %}

{% block body %}

    <div class="alert alert-success">
        <h3 class="row featurette d-flex justify-content-center"> Romantic</h3>

    </div>

    <div class="container text-center alert alert-secondary">
        <p>यु तो मेरी रूह तलक को छू चुके हो तुम, <br>  फिर भी माथे को चूमना सुकून दे जाता हैं....</p>
        <p>वो कहते हैं मुझसे की बिंदी लगाया करो <br> चाँद पर दाग ज्यादा खूबसूरत दीखता है </p>
        <p>सांवला रंग, गर्म मिज़ाज़, मीठी तासीर और कड़क तेवर, <br> तुम अपना नाम बदल कर चाय क्यों नहीं रख लेती</p>
        <p>रात क्या हुई उनकी मासूमियत का अंदाज़ तो देखिए <br> मेरी ही बाहों में फिसलकर कहती हैं संभालो मुझको</p>
        <p>मैं कैसे गुफ़्तगू से ग़ैर को अपना बनाता हूँ <br> इधर आओ, यहाँ बैठो, तुम्हें जादू सिखाता हूँ </p>
        <p>क़यामत तो नहीं देखी मगर हां , <br> उसे साड़ी में देखा जरूर है </p>
        <p>सब तेरी मोहब्बत की इनायत है* <br> *वरना मैं क्या ..मेरा दिल क्या.. मेरी शायरी क्या...!!</p>
        <p>प्यार के लिए दिल दिल के लिए तुम..!! <br> तुम्हारे लिए मैं और मेरे लिए तुम....!!!!</p>
        <p>सांवला रंग, गर्म मिज़ाज़, मीठी तासीर और कड़क तेवर, <br> तुम अपना नाम बदल कर चाय क्यों नहीं रख लेती</p>
        <p></p>


    </div>



    <div class="container d-flex justify-content-center">
        <nav aria-label="Hindi Shayeri">
            <ul class="pagination">
                <li class="page-item "><a class="page-link" href="/rom_pg3">Previous</a></li>
                <li class="page-item "><a class="page-link" href="/romantic">1</a></li>
                <li class="page-item "><a class="page-link" href="/rom_pg2">2</a></li>
                <li class="page-item "><a class="page-link" href="/rom_pg3">3</a></li>
                <li class="page-item active "><a class="page-link" href="#">4</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>

{% endblock body %}