{% extends 'base.html' %}

{% block title %}Romantic
{% endblock title %}

{% block body %}


<div class="alert alert-success">
    <h3 class="row featurette d-flex justify-content-center"> Romantic</h3>

</div>




<div class="container text-center alert alert-secondary  ">
    <p>मोहब्बत हराम नहीं होती <br> नियत हलाल हो तो </p>
    <p>ग़ज़ब ख़ूबसूरत है, तुम्हारा हर अन्दाज़, <br> इश्क़ में जलने का, मुहब्बत में जलाने का..</p>
    <p>आईना हूं तुम्हारा , क्यूं इतना कतरा रही हो... <br> सच के सिवा कुछ ना कहुंगा...क्यूं इतना घबरा रही हो.</p>
    <p>वकील बन बैठी है महबूबा मेरी.....! <br> बात बात पे इश्क का सबूत माँगती है...!!</p>
    <p> गर्म चाय और नर्म लहजा.. <br> दुनिया की दो बेहद खुबसूरत चीजें</p>
    <p>नहीं भाती मेरे दिल को ये हदों में बंधी मोहब्बत... <br> मुझे तो वो इश्क चाहिए जो बेहद और बेइंतिहां हो...</p>
    <p>मैं जज़्ब कर लूँ सारी थकावट तेरी. <br> तुम मेरी बाहों में आओ तो सही...</p>
    <p>हँस कर कबूल क्या कर ली सजाएँ मैंने, <br> ज़माने ने दस्तूर ही बना लिया हर इलज़ाम मुझ पर मढ़ने का..!! </p>
    <p>थोड़ा और बताओ ना मुझे मेरे बारे मे.. <br> सुना है बहुत अच्छे से जानते हो तुम मुझे</p>
    <p>ज़िन्दगी तो हमारी भी शानदार थी, <br> मगर मोहब्बत ने बीच में शरारत कर दी</p>

</div>


<div class="container d-flex justify-content-center">
    <nav aria-label="Hindi Shayeri">
        <ul class="pagination paging-navigation">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="/rom_pg2">2</a></li>
            <li class="page-item"><a class="page-link" href="/rom_pg3">3</a></li>
            <li class="page-item "><a class="page-link" href="/rom_pg4">4</a></li>
            <li class="page-item"><a class="page-link" href="/rom_pg2">Next</a></li>
        </ul>
    </nav>
</div>




{% endblock body %}