{% extends 'base.html' %}

{% block title %}Home
{% endblock title %}

{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>

    </ol>
  </nav>

     <div class="container">

    <div class="row mb-2">
      <div class="col-md-6">
        <div
          class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Sad</strong>


            <p class="card-text mb-auto">अगर तेरे साथ जीने का हक़ नहीं तो <br>अपनी बाहो में मरने की इजाजत दे दे </p>
            <a href="/sad" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="250" src="../static/img/sad.jpg" alt="sad_img">

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Romantic</strong>


            <p class="mb-auto"> मोहब्बत हराम नहीं होती <br> नियत हलाल हो तो
            </p>
            <a href="/romantic" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="250" src="../static/img/romantic3.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row mb-2">
      <div class="col-md-6">
        <div
          class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Urdu</strong>


            <p class="card-text mb-auto">मोहब्बत तुमसे झूठी नहीं थी गवाह हर नमाज़ की दुआ है </p>
            <a href="/urdu" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="250" src="../static/img/urdu.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Girls Status</strong>


            <p class="mb-auto">तुम पहली समझ कर हर बार गलती करना...  <br>
              मैं आखिरी समझ कर हर बार माफ कर दूंगी...!
            </p>
            <a href="/girl" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="250" src="../static/img/emotional2.jpg" alt="emotional_img">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}